:root {
  --primary-color: #f9f7fe;
  --branding-color: #662eed;
  --headind-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3 {
  font-family: var(--headind-font-family);
}

h1 {
  font-size: 94px;
  font-weight: bold;
}

.hero {
  background: var(--primary-color);
  text-align: center;
  padding: 160px 30px;
}

.hero p {
  font-size: 26px;
  font-weight: bold;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: Regular;
}
