:root {
  --primary-color: #f9f7fe;
  --branding-color: #662eed;
  --headind-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3 {
  font-family: var(--headind-font-family);
}

h1 {
  font-size: 80px;
  font-weight: bold;
}

h2 {
  font-size: 64px;
  font-weight: bold;
  color: #272142;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--primary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: Regular;
  line-height: 2;
}

.btn-branding {
  background: var(--branding-color);
  color: #fff;
  padding: 15px 30px;
  border-radius: 4px;
  line-height: 27px;
}

.btn-branding-outline {
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  padding: 15px 30px;
  border-radius: 4px;
  line-height: 27px;
}

.project-description {
  padding: 120px 30px;
}

@media (max-width: 787px) {
  .col-sm-block {
    margin: 160px;
  }

  .col-sm-block img {
    width: 100%;
    height: auto;
  }
  .project-description {
    text-align: center;
  }
}
